# === System ===
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# === Python ===
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
pip-log.txt
venv/
.env
*.venv
pyvenv.cfg

# === C++ ===
*.o
*.out
*.exe
*.a
*.dll
*.so
*.dylib
core

# === DB ===
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# === TEMP ===
*.log
*.tmp
*.temp
fuzz.log

# === IDE ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# === scr ===
*.pyc
*.bat
*.cmd

# === DOC ===
*.pdf
*.docx
*.aux
*.toc
*.out

# === Тестовые данные ===
test_uploads/
malicious_files/